<h3>
    <a href="/rutas">Rutas</a>
</h3>
<form action="" method="post" enctype="multipart/form-data">

    <div class="form-group">
    <label for="nombre">nombre</label>
    <input required id="nombre" type="text" class="form-control" name="nombre" size="30"/>
</div><div class="form-group">
    <label for="punto_inicio">Punto_Inicio</label>
    <input required id="punto_inicio" type="text" class="form-control" name="punto_inicio" size="30"/>
</div><div class="form-group">
    <label for="punto_final">Punto_Final</label>
    <input required id="punto_final" type="text" class="form-control" name="punto_final" size="30"/>
</div><div class="form-group">
    <label for="hora_inicio_labor">Hora_Inicio_Labor</label>
    <input required id="hora_inicio_labor" type="text" class="form-control" name="hora_inicio_labor" size="30"/>
</div><div class="form-group">
    <label for="hora_final_labor">Hora_Final_Labor</label>
    <input required id="hora_final_labor" type="text" class="form-control" name="hora_final_labor" size="30"/>
</div><div class="form-group">
    <label for="transcurso">Transcurso</label>
    <input required id="transcurso" type="text" class="form-control" name="transcurso" size="30"/>
</div><div class="form-group">
    <label for="costo">Costo</label>
    <input required id="costo" type="text" class="form-control" name="costo" size="30"/>
</div><div class="form-group">
    <label for="url_ruta">Url_ruta</label>
    <input required id="url_ruta" type="text" class="form-control" name="url_ruta" size="30"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-save"></span> Save</button>
    </div>
</form>
<br>
<br>